* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #EEEEEA;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.right-side button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 30px;
  background-color: #FF6B6B;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.books-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  padding: 2rem;
}

.book {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 1rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.author {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.pages {
  font-size: 1rem;
}

.read, .delete {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.read-status, .delete-book {
  font-size: 1.4rem;
  margin-top: 1rem;
  border: none;
  padding: 0.7rem;
  width: 100%;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.read-status {
  background-color: rgb(150, 238, 150);
  margin-bottom: 0;
}

.read-status:hover {
  background-color: rgb(124, 235, 124);
}

.delete-book {
  background-color: #c4c4c4;
  margin-top: 0;
}

.delete-book:hover {
  background-color: #a4a4a4;
}

.not-read {
  background-color: rgb(238, 150, 150);
}

.not-read:hover {
  background-color: rgb(235, 124, 124);
}

.popup {
  position: fixed;
  top: 40%;
  left: 45%;
  width: 300px;
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  transition: 0.3s ease-in-out;
  background-color: rgb(243, 243, 243);
}